* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Roboto, sans-serif;
  background-color: var(--bg-primary-color);
}

:root {
  --primary-text-color: #fff;
  --secondary-text-color: #d1d1d1;

  --primary-color: #c0682a;
  --secondary-color: #4f4f4f;

  --primary-hover-color: #df8e55;
  --secondary-hover-color: #414040;

  --bg-primary-color: #121212;
  --bg-secondary-color: #2f2f2f;

  --border-radius: 20px;
  --border-radius-btn: 50%;
  --size-button: 4rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius);
}

/* Display */

.output-display {
  height: 100px;
  margin-bottom: 1.2rem;
  padding: 0px 1rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

input,
.first-value {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.2rem;
  text-align: end;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.first-value {
  height: 40px;
  font-size: 1.5rem;
  padding: 10px 0px;
}

/* Main */

button {
  width: var(--size-button);
  height: var(--size-button);
  cursor: pointer;
  border-radius: var(--border-radius-btn);
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
}

button:hover {
  background-color: var(--secondary-hover-color);
}

.btn-action {
  background-color: var(--primary-color);
}

.btn-action:hover {
  background-color: var(--primary-hover-color);
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: var(--bg-secondary-color);
  justify-items: center;
}
